@use "../../global" as g;

/*!
page > about > about-staff
------------------------------
*/
.work-skill {
    display: flex;
    flex-direction: column;
    gap: 60rem;
}

.work-skill-item-content {
    margin-top: 16rem;
    @include g.mq() {
        margin-left: 80rem;
        display: grid;
        grid-template-columns: 40% 1fr;
        gap: 50rem;
    }
}

.work-skill-item-title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30rem;

    @include g.mq() {
        flex-direction: row;
        align-items: center;
    }
}

.work-skill-item-title-number {
    font-size: 56rem;
    font-family: var(--font-family-en);
    letter-spacing: 0.1em;
    font-weight: bold;
    line-height: 1;
}

.work-skill-item-title-text {
    font-weight: bold;
    font-size: 24rem;
    letter-spacing: 0.1em;
    line-height: 1;
}

.work-skill-item-content-text {
    line-height: 2;
    margin-top: 16rem;
    font-size: 14rem;

    @include g.mq() {
        width: 350rem;
    }
    
    span {
        display: block;
    }
}

.works-skill-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60rem;
    margin-top: 40rem;
    position: relative;

    &::after {
        content: "";
        display: inline-block;
        background-image: url(../../../../assets/img/detail/chevron-down.svg);
        background-size: cover;
        background-position: center;
        width: 40rem;
        aspect-ratio: 1 / 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        @include g.mq() {
            background-image: url(../../../../assets/img/detail/chevron-right.svg);

        }
    }

    @include g.mq() {
        grid-template-columns: repeat(2, 1fr);
    }
}

.works-skill-before,
.works-skill-after {
    padding: 16rem;
    border-radius: 6rem;
}

.works-skill-before-title,
.works-skill-after-title {
    font-weight: bold;
}

.works-skill-before-list,
.works-skill-after-list {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    margin-top: 20rem;
}

.works-skill-before {
    background-color: var(--color-gray-light);
}

.works-skill-after {
    background-color: var(--color-gray);
    color: var(--color-white);
}

.work-skill-list-item {
    display: flex;
    align-items: baseline;
    gap: 5rem;
    font-size: 14rem;

    &::before {
        content: "";
        display: inline-block;
        width: 5rem;
        aspect-ratio: 1 / 1;
        background-color: var(--color-font-base);
        border-radius: 50%;
    }
}

.works-skill-after-item {
    &::before {
        background-color: var(--color-white);
    }
}

.work-skill-point {
    @include g.mq() {
        display: grid;
        grid-template-columns: 40% 1fr;
        gap: 80rem;
    }
}

.work-skill-item-text {
    margin-top: 16rem;
    font-size: 14rem;

    @include g.mq() {
    width: 350rem;
        
    }

    span {
        display: block;
    }
}

.work-skill-item-img-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20rem;
    margin-top: 40rem;

    @include g.mq() {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20rem;
        margin-top: 0;
    }

    img {
        box-shadow: 0 0 10rem rgba(0, 0, 0, 0.1);
        border-radius: 6rem;
    }
}

.work-skill-point-content {
    margin-top: 20rem;

    @include g.mq() {
        margin-left: 80rem;
    }
}

.work-skill-item-content--result {

    @include g.mq() {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.work-skill-btn-link {
    padding: 16rem 20rem;
    font-weight: bold;
    width: 100%;
    background-color: var(--color-gray);
    border-radius: 6rem;
    color: var(--color-white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16rem;
    margin-top: 60rem;
    border: 1rem solid var(--color-gray);
    transition: background-color 0.3s, color 0.3s;

    &::before {
        content: "";
        display: inline-block;
        mask-image: url(../../../img/detail/arrow-left.svg);
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: var(--color-white);
        width: 24rem;
        aspect-ratio: 1 / 1;
        transition: background-color 0.3s;
    }

    @media (any-hover: hover) {
        &:hover{
            color: var(--color-gray);
            background-color: var(--color-white);
            &::before {
                background-color: var(--color-gray);
            }
        }
    }
}


.work-skill-item-text {
    
    span {
        display: block;

        @include g.mq() {
            display: inline;
        }
    }
}

.work-skill-result {

}

.work-skill-list-title {
    font-weight: bold;
    font-size: 20rem;
    margin-top: 20rem;
}

.work-skill-result-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20rem;
}

.work-skill-result-item {
    border: 1rem solid var(--color-gray);
    padding: 20rem;
    border-radius: 10rem;
}

.work-skill-result-item-title {

}

.work-skill-result-item-img {
    width: 14rem;
}

.work-skill-result-item-text {

}

.work-skill-result-item-text-result {

}

.work-skill-result-list-other {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    margin-top: 10rem;
}

.work-skill-result-list-item {
    display: flex;
    align-items: baseline;
    gap: 5rem;
    &::before {
        content: "";
        display: inline-block;
        width: 5rem;
        aspect-ratio: 1 / 1;
        background-color: var(--color-font-base);
        border-radius: 50%;
    }
}

.work-skill-result-list-text {
    margin-top: 20rem;
}

.work-skill-btn {
    @include g.mq() {
        display: none;
    }
}