@use "../../foundation" as f;

// ---------- arrivals ----------
.arrivals {
  position: relative;
  padding: 30px 0 110px;

  &__head-row {
    max-width: var(--maxw);
    margin: 0 auto 56px;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;

    .section-head { margin: 0; }
  }

  &__view-all {
    position: absolute;
    right: 32px;
    top: 20px;
  }

  &__products {
    max-width: var(--maxw);
    margin: 0 auto;
    padding: 0 32px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    position: relative;
    z-index: 5;
  }
}

@media (min-width: f.$bp-xxs) {
  .arrivals__products { grid-template-columns: repeat(2, 1fr); gap: 40px 24px; }
}

@media (min-width: f.$bp-md) {
  .arrivals__products { grid-template-columns: repeat(4, 1fr); gap: 30px; }
}
