@use "../../foundation/tokens" as t;

/*!
page > privacy > privacy
------------------------------
*/
.p-privacy {
  margin-top: 80px;

  @include t.mq() {
    margin-top: 120px;
  }
}

.p-privacy-content {
  border-bottom: 1px solid var(--color-border);
  padding: 24px;

  &:last-child {
    border-bottom: none;
  }
}

.p-privacy-title {
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: 0.1em;

  &--large {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

  @include t.mq() {
    font-size: clamp(16px, 2.4vw, 20px);

    &--large {
      font-size: clamp(20px, 3.125vw, 28px);
    }
  }
}

.p-privacy-text {
  line-height: 1.8;
  margin-top: 12px;
}

.p-privacy-list {
  margin-top: 12px;
}

.p-privacy-item {
  display: flex;
  align-items: center;
  gap: 10px;

  &::before {
    content: "";
    width: 4px;
    aspect-ratio: 1 / 1;
    background-color: var(--color-font-base);
    border-radius: 50%;
  }
}

.p-privacy-item-text {
}

.p-privacy-date {
}

.p-privacy-name {
}
