@use "../foundation" as f;

/*!
layout > container
------------------------------
*/
%container {
    width: calc(100% - calc(var(--gutter-sm) * 2));
    margin-inline: auto;
}
.l-container {
    @extend %container;
    max-width: var(--content-width-md);
}

.l-container-s {
    @extend %container;
    max-width: var(--content-width-sm);
}
