@use "../global" as g;

/*!
layout > container
------------------------------
*/
.l-container {
    padding-inline: 20px;

    @include g.mq() {
        max-width: 1200px;
        margin-inline: auto;
    }
}

.l-container-s {
    padding-inline: 20px;

    @include g.mq() {
        max-width: 800px;
        margin-inline: auto;
    }
}
