@use "../global" as g;

/*!
layout > header
------------------------------
*/
.l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-header);
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    
    @include g.mq() {
        padding: 0rem 65rem;
    }

    &.is-active {
        .l-header-logo-top--white {
            display: none;
        }

        .l-header-logo-top--black {
            display: block;
        }

        .l-header-menu-nav--top {
            color: var(--color-font-base);
        }

        .l-header-menu-link:not(.l-header-menu-link--contact) {
            @include g.mq() {
                color: var(--color-font-base);
            }
        }
    }
}

.l-header-logo-top--white {
    display: block;
    color: var(--color-white);
}

.l-header-logo-top--black {
    display: none;
    color: var(--color-font-base);
}


.l-header-logo-black {
    display: block;
    color: var(--color-font-base);
}

.l-header-logo {
    font-size: 32rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    
}



.l-header-logo-link {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.l-header-logo-link-en {
    font-size: 24rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-family: var(--font-family-en);
    line-height: 1;
}
.l-header-logo-link-ja {
    font-size: 16rem;
    line-height: 1;
}

.l-header-menu {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);

    @include g.mq() {
        display: block;
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
    }

    &::backdrop {
        display: none;
    }
}

.l-header-menu-nav {
    background-color: var(--color-gray);
    width: 320rem;
    margin-left: auto;
    border-radius: 0 0 0 20rem;

    @include g.mq() {
        background-color: transparent;
        width: auto;
        padding: 0;
        border-radius: 0;
    }

    &--top {
        color: var(--color-white);
    }
}

.l-header-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 16rem;
    padding: 40rem;

    @include g.mq() {
        flex-direction: row;
        align-items: center;
        gap: 50rem;
    }
}

.l-header-menu-nav-item {

}

.l-header-menu-nav-link {
    display: block;
}

.l-header-menu-nav-link--contact {
    display: none;

    @include g.mq() {
        display: block;
    }
}

.l-header-menu-nav-link-en {
    display: block;
    font-size: 24rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-family: var(--font-family-en);
}
.l-header-menu-nav-link-ja {
    display: block;
    font-size: 16rem;

    @include g.mq() {
        display: none;
    }
}


.l-header-menu-open,
.l-header-menu-close {
    position: fixed;
    top: 23rem;
    right: 20rem;
    width: 50rem;
    aspect-ratio: 1 / 1;
    z-index: var(--z-index-header);
    border-radius: 50%;

    @include g.mq() {
        display: none;
    }
}

.l-header-menu-open {
    
}

.l-header-menu-close {
}

.l-header--works {
    .l-header-logo-white {
        display: none;
    }

    .l-header-logo-black {
        display: block;
    }
}

.l-header-menu-nav--works {
        color: var(--color-font-base);
}

.l-header-menu-nav-cta {
    padding-block: 60rem;
    background-image: url(../../../assets/img/menu-cta.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;

    @include g.mq() {
        display: none;
    }
}

.l-header-menu-nav-cta-text {
    font-size: 28rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;

    span {
        display: block;
    }
}

.l-header-menu-nav-cta-button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-inline: auto;
    margin-top: 40rem;

    &::before {
        content: "";
        display: inline-block;
        width: 20rem;
        aspect-ratio: 1 / 1;
        mask-image: url('../../../assets/img/detail/detail2/icon_mail.svg');
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: var(--color-font-base);
    }
}

.l-header-menu-footer {
    padding: 40rem;

    @include g.mq() {
        display: none;
    }
}

.l-header-menu-footer-title {
    font-weight: bold;
    font-size: 20rem;
    letter-spacing: 0.1em;
}

.l-header-menu-footer-copyright {
    font-size: 12rem;
    display: block;
    margin-top: 10rem;
}

.l-header-menu-footer-list {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20rem;
    margin-top: 20rem;
}

.l-header-menu-footer-item {
    width: 40rem;
    aspect-ratio: 1 / 1;
}

