@use "../global" as g;

/*!
component > button
------------------------------
*/
.c-button {
    background-image: linear-gradient(45deg, #458cd3 0%, #ebf1fd 100%);
    color: #fff;
    width: 60rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 14rem;

    @media (any-hover: hover) {
        &:hover{
            color: #fff;
            opacity: 0.6;
        }
    }
}

.c-button-large {
    color: #fff;
    background-color: var(--color-gray);
    width: 180rem;
    height: 45rem;
    border-radius: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 18rem;
    letter-spacing: 0.1em;
    border: 1rem solid var(--color-gray);
    transition: background-color 0.3s, color 0.3s;
    
    @media (any-hover: hover) {
        &:hover{
            background-color: var(--color-white);
            color: var(--color-gray);
        }
    }
}
