@use "../foundation/tokens" as t;

/*!
component > cards
------------------------------
*/
.c-card-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include t.mq() {
    flex-direction: row;
    gap: 40px;
  }
}
