@use "../global" as g;

/*!
component > cards
------------------------------
*/
.card-list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include g.mq() {
        flex-direction: row;
        gap: 40px;
    }
}