@use "../foundation/tokens" as t;

/*!
component > tag
------------------------------
*/
.c-tag-html {
  background-color: rgb(255, 166, 0);
  color: white;
}

.c-tag-css {
  background-color: rgb(0, 119, 255);
  color: white;
}

.c-tag-js {
  background-color: rgb(0, 255, 153);
  color: white;
}
