@use "../global" as g;

/*!
component > form
------------------------------
*/
.c-form-required {
    background-color: red;
    color: var(--color-white);
    font-size: 12rem;
    padding: 2rem 6rem;
    border-radius: 5rem;
    margin-left: 10rem;
}
.c-form-text {
    width: 100%;
    padding: 12rem 8rem;
    border-radius: 8rem;
    background-color: var(--color-gray-light);

    &::placeholder {
        color: var(--color-gray);
    }

    &:focus {
        outline: 1rem solid var(--color-gray);
    }
}
.c-form-textarea {
    min-height: 200rem;
    field-sizing: content;
}