@use "../../global" as g;

/*!
page > works > works-kv
------------------------------
*/
.works-kv {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.works-kv-content {
    background-color: blue;
}

.works-kv-meta {
    display: flex;
    align-items: center;
    color: red;
}

.works-kv-meta-list {

}

.works-kv-meta-item {

}

.works-kv-meta-item-text {

}

.works-kv-title-link {

}

.works-kv-title-en {
    color: red;
}

.works-kv-title-ja {

}

.works-kv-text {

}

.works-kv-tag {

}

.works-kv-tag-item {

}

.works-kv-img {

}

